:root {
  --primary: #ad03de;
  --secondary: #02ccfe;
  --tertiary: #c7d544;

  --purple-50: #f7e6fc;
  --purple-200: #f7e6fc;
  --main-purple: var(--primary);
  --purple-500: #8a02b2;
  --purple-700: #680285;
  --purple-800: #450159;
  --purple-900: #3d014e;
  --purple-disabled: #de9af2;

  --grey-25: #e6e6e6;
  --grey-300: #b3b3b3;
  --grey-400: #808080;
  --grey-500: #646464;
  --grey-700: #3d3d3d;
  --grey-800: #242424;
  --grey-1100: #1a1a1a;
  --grey-color: #4d4d4d;
  --grey-grey: #dadada;

  --error-100: #ffe6e9;
  --error-200: #ffd9de;
  --error-300: #ffb1bc;
  --error-400: #ffb1bc;
  --error-500: #ff1a00;
  --error-600: #cc021e;
  --error-700: #cc021e;
  --error-disabled: #ffa399;

  --orange-50: #fff3e6;
  --orange-100: #ffecd9;
  --orange-200: #ffd8b0;
  --orange-300: #ff8200;
  --orange-400: #e67500;

  --success-50: #e6f5eb;
  --success-100: #d9efe1;
  --success-200: #b0dec2;
  --success-300: #009639;
  --success-400: #008733;

  --white: #ffffff;
  --black: #000000;
  --white-100: #eaeaea;
}
